<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.model.BoardDAO">
   <!-- namespace=> DAO이름(클래스 경로까지) class 파일을 가져오는 경우 .으로 폴더구분 SQL문을 작성하는 Mapper파일 -->

   <!-- select 태그 insert 태그 
   parameterType : 바인드변수를 채워줄 대상 사용하고자하는 문장과 동일한 이름 
      태그 사용 
   resultType : select 할때만 사용 어떤 데이터 타입으로 결과를 묶어줄 것 resultType을 생략 가능 -->

   <!-- 전체 게시글 -->
   <select id="boardList" resultType="com.model.BoardVO">
      select * 
      from s_post
      order by pnum desc
      <!-- #{필드명} => 해당하는 변수명을 가진 필드의 값을 깨내오기 -->
   </select>
   
   <!-- 핫 게시글 -->
   <select id="boardHotList" resultType="com.model.BoardVO">
	  select *
	  from s_post
	  order by good desc
   </select>
   
   <!-- 글제목 검색 -->
   <select id="boardTitleSearch" resultType="com.model.BoardVO">
      select *
      from s_post
      where title like '%' || #{title} || '%'
      order by pdate desc
   </select>
   
   <!-- 글내용 검색 -->
   <select id="boardContentSearch" resultType="com.model.BoardVO">
      select *
      from s_post
      where nick like '%' || #{content} || '%'
      order by pdate desc
   </select>
   
   <!-- 작성자 검색 -->
   <select id="boardWriterSearch" resultType="com.model.BoardVO">
      select *
      from s_post
      where content like '%' || #{nick} || '%'
      order by pdate desc
   </select>
   
   <!-- 회원 확인
   <select id="memberCheck" resultType="com.model.MemberVO">
      select *
      from s_member
   </select>
    -->

   <!-- 게시글 작성 -->
   <insert id="boardInsert" parameterType="com.model.BoardVO">
      insert into s_post(pnum,title,content,id,nick,pdate,fileName,anonymous)
      values(
         post_num_seq.nextval,
         #{title},
         #{content},
         #{id},
         #{nick},
         current_date,
         #{fileName, jdbcType=VARCHAR},
         #{anonymous}
      )
   </insert>
   
   <!-- 게시글 삭제 -->
   <delete id="boardDelete" parameterType="com.model.BoardVO">

      delete from s_post
      where pnum = #{pnum}
      
   </delete>

   <!-- 게시글 내용 보기 -->
   <select id="boardView" resultType="com.model.BoardVO">
      select * from s_post
      where pnum = #{pnum}
   </select>

	<!-- 게시글 수정 -->
	<update id="boardUpdate" parameterType="BoardVO">
		update s_post
		set title = #{title},
		content = #{content},
		fileName = #{fileName, jdbcType=VARCHAR}
		where pnum=#{pnum}
	</update>
	
	<!-- 게시글 사진 삭제 -->
	<update id="boardFileDel" parameterType="BoardVO">
		update s_post
		set fileName=NULL
		where pnum=#{pnum}
	</update>
	
	<!-- 조회수 count -->
	<update id="boardHitCount" parameterType="BoardVO">
		update s_post
		set hit = hit+1
		where pnum=#{pnum}
	</update>
	
	<!-- 게시글 공감 id-->
	<insert id="boardGoodInsert" parameterType="com.model.GoodVO">
		insert into post_mind
		values(
			#{pnum},
			#{id}
		)
	</insert>
	
	<!-- 게시글 공감한 id 확인 -->
	<select id="boardGoodCheck" parameterType="com.model.GoodVO" resultType="java.lang.Integer">
		select count(*)
		from post_mind
		where pnum=#{pnum} and id=#{id}
	</select>
	
	<!-- 게시글 공감 count -->
	<update id="boardGoodCount" parameterType="BoardVO">
		update s_post
		set good = good+1
		where pnum=#{pnum}
	</update>
	
	<!-- 페이지 구분 -->
	<select 
	 id="pagging"
	 resultType="BoardVO"
 	>
	 	select * 
		from (select ROW_NUMBER() OVER(order by pdate desc) as rn, pnum, title, nick, content, hit, pdate from s_post) A
		where a.rn between #{page}  and  #{page} + 9
 	</select>
 	
 	<!-- 댓글 작성 -->
 	<insert id="commentInsert" parameterType="com.model.CommentVO">
 		insert into s_comment(cnum,pnum,comments,id,nick,cdate)
 		values(
 			comment_num_seq.nextval,
 			#{pnum},
 			#{comments},
 			#{id},
 			#{nick},
 			current_date
 		)
 	</insert>
 	
 	<!-- 댓글 보기 -->
 	<select id="commentList" resultType="com.model.CommentVO">
      select * 
      from s_comment
      where pnum=#{pnum}
      order by cdate
   </select>

	<!-- 댓글 삭제 -->
	<delete id="commentDelete">
		delete from s_comment
		where cnum=#{cnum}
	</delete>
	
	<!-- 내 게시글만 볼수 있는 sql  -->
	<select id="boardMyList" resultType="com.model.BoardVO">
		select * from s_post
	    where id = #{id}
	    order by pdate desc
	</select>
	
	<!-- 내 댓글만 볼수 있는 sql  -->
	<select id="boardMyComment" resultType="com.model.CommentVO">
		select * from s_comment
	    where id = #{id}
	    order by cdate desc
	</select>
	
</mapper>