<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.model.MemberDAO">

	<!-- 회원가입sql -->
	<insert id="memberInsert" parameterType="com.model.MemberVO">
		insert into s_member
		values (#{id},
				#{name},
				#{pw},
				#{email},
				#{nick})
	</insert>
	
	<!-- 로그인 sql -->
	<select id="login" parameterType="com.model.MemberVO" resultType="com.model.MemberVO">
		select *
		from s_member
		where id=#{id}
		and pw=#{pw}
	</select>

</mapper>